<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- DOAs -->
    <bean id="orderNumProdImpl" class="com.sg.flooringmastery.dao.FMOrderNumFileImpl" >
        <constructor-arg value="orderNum.txt" />
    </bean>
    
    <bean id="orderNumTrainingImpl" class="com.sg.flooringmastery.dao.FMOrderNumFileImpl" >
        <constructor-arg value="orderNumTest.txt" />
    </bean>
    
    <bean id="productDaoFileImpl" class="com.sg.flooringmastery.dao.FMProductDaoFileImpl" >
        <constructor-arg value="products.txt" />
    </bean>
    
    <bean id="taxRateDaoFileImpl" class="com.sg.flooringmastery.dao.FMTaxRateDaoFileImpl" >
        <constructor-arg value="taxes.txt" />
    </bean>
    
    <bean id="orderDaoProdImpl" class="com.sg.flooringmastery.dao.FMOrderDaoProdImpl" >
        <constructor-arg value="Orders\" />
    </bean>
    
    <bean id="orderDaoTrainingImpl" class="com.sg.flooringmastery.dao.FMOrderDaoTrainingImpl" >
        <constructor-arg value="TestOrders\" />
    </bean>
    
    <!-- Services -->
    <bean id="orderNumServiceProdImpl" class="com.sg.flooringmastery.service.FMOrderNumServiceImpl" >
        <constructor-arg ref="orderNumProdImpl" />
    </bean>
    
    <bean id="orderNumServiceTrainingImpl" class="com.sg.flooringmastery.service.FMOrderNumServiceImpl" >
        <constructor-arg ref="orderNumTrainingImpl" />
    </bean>
    
    <bean id="productServiceImpl" class="com.sg.flooringmastery.service.FMProductServiceImpl" >
        <constructor-arg ref="productDaoFileImpl" />
    </bean>
    
    <bean id="taxRateServiceImpl" class="com.sg.flooringmastery.service.FMTaxRateServiceImpl" >
        <constructor-arg ref="taxRateDaoFileImpl" />
    </bean>
    
    <bean id="orderServiceProdImpl" class="com.sg.flooringmastery.service.FMOrderServiceImpl" >
        <constructor-arg ref="orderDaoProdImpl" />
    </bean>
    
    <bean id="orderServiceTrainingImpl" class="com.sg.flooringmastery.service.FMOrderServiceImpl" >
        <constructor-arg ref="orderDaoTrainingImpl" />
    </bean>
    
    <bean id="setModeServiceImpl" class="com.sg.flooringmastery.service.FMSetModeOfProgramImpl" />
    
    <!-- View -->
    <bean id="userIO" class="com.sg.flooringmastery.ui.UserIOConsoleImpl" />
    <bean id="view" class="com.sg.flooringmastery.ui.FMView" >
        <constructor-arg ref="userIO" />
    </bean>
    
    <!-- Controller -->
    <bean id="controller" class="com.sg.flooringmastery.controller.FMController" >
        <constructor-arg ref="orderServiceProdImpl" />
        <constructor-arg ref="setModeServiceImpl" />
        <constructor-arg ref="orderNumServiceProdImpl" />
        <constructor-arg ref="productServiceImpl" />
        <constructor-arg ref="taxRateServiceImpl" />
        <constructor-arg ref="view" />
    </bean>
    
<!--    <aop:config>
        <aop:aspect ref="loggingAdvice">
            <aop:after-returning
                method="createAuditEntry"
                pointcut="execution(* com.sg.vendingmachine.service.VendingMachineServiceLayer.makeSelection(..))"
             />

            <aop:after-returning
                method="createAuditEntry"
                pointcut="execution(* com.sg.vendingmachine.service.VendingMachineServiceLayer.returnChange())"
            />
            
            <aop:after-throwing
                method="createAuditEntryForExceptions"
                pointcut="execution(* com.sg.vendingmachine.service.VendingMachineServiceLayer.makeSelection(..))"
                throwing="ex"
            />
            

          </aop:aspect>
    </aop:config>-->
    
</beans>